.join_form_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.room_name_input {
    width: 20em;
    text-align: center;
}
